@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="btn">
                    <a class="btn-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Wait Staff</a>
                </li>
                <li class="btn">
                    <a class="btn-link text-dark" asp-area="" asp-controller="Tables" asp-action="Index">Host Staff</a>
                </li>
                <li class="btn">
                    <a class="btn-link text-dark" asp-area="" asp-controller="Staffs" asp-action="Index">Management</a>
                </li>
            </ul>
        </div>
    </div>
</div>
