@model IEnumerable<RestaurantWebApplication.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="btn">
                    <a class="btn-link text-dark" asp-area="" asp-controller="Staffs" asp-action="Index">Staff</a>
                </li>
                <li class="btn">
                    <a class="btn-link text-dark" asp-area="" asp-controller="Menus" asp-action="Index">Menu</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="btn">
                    <a class="btn-link text-dark" asp-area="" asp-controller="Menus" asp-action="Index">Menu</a>
                </li>
                <li class="btn">
                    <a class="btn-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
